/*Modal Login y Registro*/
.modal-cala{
    background-color: black;
    color: white;
    border: 2px solid #ff4fa3; 
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 79, 163, 0.25);
}
.modal-body{
    padding-top: 10px;
}
.titulo-login{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 5px;
}
.subtitulo-login{
    color: #d0d0d0;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.logo-login{
    width: 120px;
    margin-bottom: 10px;
}
.encabezado-modal{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 15px;
}

.input-cala{
    background-color: #222;
    border: 2px solid #ff4fa3;
    color: white;
    transition: 0.3s;
}

.input-cala:focus{
    background-color: #222;
    color: white;
    border-color: #ff4fa3;
    box-shadow: none;
}

.boton-login{
    background-color: #ff4fa3;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px;
    border: none;
    transition: 0.3s;
}

.boton-login:hover{
    background-color: #ff2e8a;
}

.link-cala{
    color: #ff4fa3;
    text-decoration: none;
}
.link-cala:hover{
    color: #ff2e8a;
    text-decoration: underline;
}

.toggle-eye{
    position: absolute;
    right: 15px;
    top: 42px;
    cursor: pointer;
    color: #ff4fa3;
}